.account {
  width: 100%;
  height: 40px;
  background-color: red;
}

.cart-account {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 15px;
  color: white;
}

.account-viev {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(209, 209, 209);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.icon-avatar {
  position: absolute;
  bottom: -10px;
}

.quit {
  font-size: 12px !important;

  &:hover {
    background-color: rgb(62, 62, 62);
    color: color;
  }
}

.recently-app {
  height: auto !important;
  max-height: auto !important;
  min-height: auto !important;
  grid-template-rows: repeat(2, 305px);
}

.buttons-recenltly {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.btns-res-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 14px;
  font-weight: 600;

  * {
    cursor: pointer;
  }
}

.rec-choosen {
  padding: 5px;
  background-color: rgb(7, 7, 38);
  border-radius: 5px;
}

.btn-rec {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.2s ease-in-out;

  @media (max-width: 430px) {
    font-size: 14px;
  }

  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    box-shadow: 0 5px 15px rgb(23, 23, 23);
  }
}
